<div class="kmods">

    <div class="kmod-coupon">
        <a href="javascript:;" class="kmod-coupon-btn"></a>
    </div>

    <div class="kmod-nav-coupon">
        <a href="javascript:;" class="kmod-nav-coupon-btn"></a>
    </div>

</div>