<style>
    /*# include=index.css */
</style>
<!--模块总容器-begin-->
<div class="kmods kstate-warm kstate-debug">
    <!--模块头部-begin-->
    <div class="kmod-header kmod">
        <div class="kmod-bd">
            <div class="kmod-logo"></div>
        </div>
    </div>
    <!--模块头部-end-->
    <!--模块主体-begin-->
    <div class="kmod-body">
        {{if navigators}}
        <!--模块导航-begin-->
        <div class="kmod kmod-nav-wrap">
            <div class="kmod-bd">
                {{each navigators}}
                <!--导航{{$index | kToIndex}}-begin-->
                <div class="kmod-nav kmod-nav{{$index | kToIndex}}">
                    <div class="kmod-nav-hd">
                        {{if coupons}}
                        <div class="kmod-nav-coupon"><a href="javascript:;" class="kmod-nav-coupon-btn"></a></div>
                        {{/if}}
                    </div>
                    <div class="kmod-nav-bd">
                        {{if brands}}
                        {{each brands as $v $i}}
                        <a class="kmod-hash kmod-hash{{$i | kToIndex}}" href="#kmod_hash{{$i | kToIndex}}" data-id="kmod_hash{{$i | kToIndex}}" target="_self"></a>
                        {{/each}}
                        {{/if}}
                    </div>
                    <div class="kmod-nav-ft">
                        <a class="kmod-hash" href="#" target="_self"></a>
                    </div>
                </div>
                <!--导航{{$index | kToIndex}}-end-->
                {{/each}}
            </div>
        </div>
        <!--模块导航-end-->
        {{/if}}

        {{if modules}}
        <!--品购模块-begin-->
        {{each modules}}
        <div class="kmod kmod{{$index | kToIndex}}">
            {{if brands && ($index < brands.length)}}
            <!--锚点-begin-->
            <a class="kmod-target" id="kmod_hash{{$index | kToIndex}}" name="kmod_hash{{$index | kToIndex}}"></a>
            <!--锚点-end-->
            {{/if}}
            <div class="kmod-bd">
                {{if coupons && ($index < coupons.length)}}
                <!--红包-begin-->
                <div class="kmod-coupon"><a href="javascript:;" class="kmod-coupon-btn"></a></div>
                <!--红包-end-->
                {{/if}}
                {{if products}}
                <!--链接-begin-->
                {{each products as $v $i}}
                <a class="kmod-plink kmod-plink{{$i | kToIndex}}" href="javascript:;"></a>
                {{/each}}
                <!--链接-end-->
                {{/if}}
            </div>
        </div>
        {{/each}}
        <!--品购模块-end-->
        {{/if}}
    </div>

    {{if false}}
    <!--&lt;!&ndash;因链接不确定性太高，还不能用模版&ndash;&gt;-->
    <!--<div class="kmod-body" id="kmodBodyHtml">-->
    <!--<script type="text/html" id="kmodBodyTpl">-->
    <!--{{each mods as mod}}-->
    <!--<div class="kmod kmod-{{$index | kidFormatIndex}}">-->
    <!--<div class="kmod-bd">-->
    <!--{{each links as link}}-->
    <!--<a class="kmod-link kmod-link-{{$index | kidFormatIndex}}{{$index | kidFormatEnIndex}}"-->
    <!--href="javascript:;"></a>-->
    <!--{{/each}}-->
    <!--</div>-->
    <!--</div>-->
    <!--{{/each}}-->
    <!--</script>-->
    <!--</div>-->
    {{/if}}

    <!--模块主体-end-->
    <!--模块尾部-begin-->
    <div class="kmod-footer kmod">
        <div class="kmod-bd">
            <a class="kmod-btn" target="_blank" href="http://kid.vip.com/"></a>
        </div>
    </div>
    <!--模块尾部-end-->
</div>
<!--模块容器-end-->
<script>
    /*# include=index.js */
</script>