(function () {

  {{if template}}
  //var template = $.Tpl;
  ///**
  // * 自动渲染template方法
  // * @param dataTree  所有数据组成的对象
  // * @returns 所有请求完成后的promise对象
  // */
  //var renderAll = (function (template) {
  //  return function (dataTree) {
  //    var name, el, promises = [];
  //    for (name in dataTree) {
  //      if (
  //        Object.prototype.hasOwnProperty.call(dataTree, name)
  //        && (el = document.getElementById(name + '_html'))
  //      ) {
  //        var data = dataTree[name];
  //        var callback = (function (el, name) {
  //          return function (d) {
  //            el.innerHTML = template(name + '_tpl', d);
  //          }
  //        })(el, name);
  //        promises.push(typeof data !== 'function' ? callback(data) : data(callback));
  //      }
  //    }
  //
  //    return $.when.apply($, promises);
  //  };
  //})(template);
  //// 渲染模版
  //renderAll({
  //  kmod_nav: {
  //    list: new Array(3)
  //  },
  //  // 精选分类
  //  kmod_sel: function (callback) {
  //    return getSelectionList().pipe(callback);
  //  },
  //  // 文具图书品牌
  //  kmod1_brand: function (callback) {
  //    return getBrandList().pipe(callback);
  //  },
  //  // 儿童玩具品牌
  //  kmod2_brand: function (callback) {
  //    return getBrandList().pipe(callback);
  //  },
  //  // TOP
  //  kmod31_prod: function (callback) {
  //    return getProductList().pipe(callback);
  //  },
  //  kmod32_prod: function (callback) {
  //    return getProductList().pipe(callback);
  //  }
  //}).then(function () {
  //  {{if navigators}}
  //  addNavigators();
  //  {{/if}}
  //});
  {{/if}}

  var wh = $.Cookie.get('vip_wh') || 'VIP_NH';
  var whs = wh.toLocaleUpperCase();
  var plinksData = {
    "VIP_NH": ["626529-88420745", "626529-88420737", "626529-88420723", "626529-88420754", "626529-88420722", "626529-88420800", "626529-88420789", "626529-88420787", "626529-88420740", "626529-88420752", "626529-88420774", "651416-90659848", "651416-90659857", "651416-90659850", "651416-90659852", "651416-90659861", "651416-90659853", "651416-90659860", "651416-90659859", "651416-90659868", "651416-90659865", "651416-90659866", "665851-89410673", "665851-89410604", "665851-89410617", "665851-89410648", "665851-89410697", "665851-89410643", "665851-89410657", "665851-89410618", "665851-89410626", "665851-89410556", "665851-89410563"],
    "VIP_SH": ["626529-88420745", "626529-88420737", "626529-88420723", "626529-88420754", "626529-88420722", "626529-88420800", "626529-88420789", "626529-88420787", "626529-88420740", "626529-88420752", "626529-88420774", "651416-90659848", "651416-90659857", "651416-90659850", "651416-90659852", "651416-90659861", "651416-90659853", "651416-90659860", "651416-90659859", "651416-90659868", "651416-90659865", "651416-90659866", "665852-89412622", "665852-89412553", "665852-89412566", "665852-89412597", "665852-89412647", "665852-89412592", "665852-89412606", "665852-89412567", "665852-89412575", "665852-89412505", "665852-89412512"],
    "VIP_CD": ["626529-88420745", "626529-88420737", "626529-88420723", "626529-88420754", "626529-88420722", "626529-88420800", "626529-88420789", "626529-88420787", "626529-88420740", "626529-88420752", "626529-88420774", "651416-90659848", "651416-90659857", "651416-90659850", "651416-90659852", "651416-90659861", "651416-90659853", "651416-90659860", "651416-90659859", "651416-90659868", "651416-90659865", "651416-90659866", "665853-89412779", "665853-89412710", "665853-89412723", "665853-89412754", "665853-89412804", "665853-89412749", "665853-89412763", "665853-89412724", "665853-89412732", "665853-89412662", "665853-89412669"],
    "VIP_BJ": ["626529-88420745", "626529-88420737", "626529-88420723", "626529-88420754", "626529-88420722", "626529-88420800", "626529-88420789", "626529-88420787", "626529-88420740", "626529-88420752", "626529-88420774", "651416-90659848", "651416-90659857", "651416-90659850", "651416-90659852", "651416-90659861", "651416-90659853", "651416-90659860", "651416-90659859", "651416-90659868", "651416-90659865", "651416-90659866", "665854-89412936", "665854-89412867", "665854-89412880", "665854-89412911", "665854-89412961", "665854-89412906", "665854-89412920", "665854-89412881", "665854-89412889", "665854-89412819", "665854-89412826"],
    "VIP_HZ": ["626529-88420745", "626529-88420737", "626529-88420723", "626529-88420754", "626529-88420722", "626529-88420800", "626529-88420789", "626529-88420787", "626529-88420740", "626529-88420752", "626529-88420774", "651416-90659848", "651416-90659857", "651416-90659850", "651416-90659852", "651416-90659861", "651416-90659853", "651416-90659860", "651416-90659859", "651416-90659868", "651416-90659865", "651416-90659866", "665855-89413093", "665855-89413024", "665855-89413037", "665855-89413068", "665855-89413118", "665855-89413063", "665855-89413077", "665855-89413038", "665855-89413046", "665855-89412976", "665855-89412983"]
  };
  var blinksData = {
    "VIP_NH": ["667583", "667588", "667593"],
    "VIP_SH": ["667584", "667589", "667594"],
    "VIP_CD": ["667585", "667590", "667595"],
    "VIP_BJ": ["667586", "667591", "667596"],
    "VIP_HZ": ["667587", "667592", "667597"]
  };
  var plinks = plinksData[whs];
  var blinks = blinksData[whs];

  addProductLinks(plinks);
  addSellState(blinks);
  addBrandLinks(blinks);
  addNavigators();
  {{if coupons}}
  addCoupons();
  {{/if}}

  // 添加商品链接
  function addProductLinks(plinks) {
    $('.kmod-body .kmod-plink').each(function (i) {
      $(this).attr({
        target: '_blank',
        href: 'http://www.vip.com/detail-' + plinks[i] + '.html'
      }).data('pid', (plinks[i] || '').replace(/^.*-/, ''));
    });
  }

  // 添加售卖状态
  function addSellState(blinks){
      $.ajax({
        url: 'http://stock.vip.com/list/',
        data: {
          bids: blinks.join(',')
        },
        dataType: 'jsonp'
      }).done(function(res){

        var prodChance = res.sold_chance;
        var prodOut = res.sold_out;

        var reProdChance = new RegExp('^(' + prodChance.replace(/,/g, '|') + ')$');
        var reProdOut = new RegExp('^(' + prodOut.replace(/,/g, '|') + ')$');

        $('.kmod-plink').each(function(){
          var $this = $(this);
          var pid = $this.data('pid');

          $this.append('<span class="kmod-tips"></span>');
          if(reProdChance.test(pid)){
            return $this.addClass('kstate-sold-chance');
          }
          if(reProdOut.test(pid)){
            return $this.addClass('kstate-sold-out');
          }
        });
      });
    }

  // 添加专场链接
  function addBrandLinks(blinks) {
    // 顺序打乱时这样添加
    $('.kmod-body .kmod-blink').attr({target: '_blank'});
    $(blinks).each(function(i, blink){
      $('.kmod-body .kmod-blink' + (i + 1)).attr({href: 'http://list.vip.com/' + blink + '.html'});
    });
    //$('.kmod-body .kmod-blink1').attr({href: 'http://list.vip.com/' + blinks[0] + '.html'});
    //$('.kmod-body .kmod-blink2').attr({href: 'http://list.vip.com/' + blinks[1] + '.html'});
    //$('.kmod-body .kmod-blink3').attr({href: 'http://list.vip.com/' + blinks[2] + '.html'});
  }

  {{if navigators}}
  // 导航2
  function addNavigators() {

    var $nav = $('.kmod-nav');
    var beginOffset = $nav.offset();

    var $win = $(window);
    var $doc = $(document);

    var $navTarget = $('.kmod-target');

    var navHeight = $nav.outerHeight();
    var endOffset;
    var $footer = $('.kmod-footer');

    if ($footer.length || $footer.is(':visible')) {
      endOffset = $footer.offset();
    }
    else {
      var $kmods = $('.kmods');
      endOffset = $kmods.offset();
      endOffset.top += $kmods.outerHeight();
    }


    var $navTargetNew = $navTarget.map(function () {
      var $this = $(this);
      return {
        top: $this.offset().top,
        $el: $this,
        $ctrl: $('[data-id=' + $this.attr('id') + ']')
      };
    });

    $navTargetNew.sort(function (a, b) {
      return a.top - b.top;
    });
    $win.on({
      'scroll.kmodNav': function () {
        var scrollTop = $doc.scrollTop();

        // 控制导航悬浮
        $nav[scrollTop > beginOffset.top ? 'addClass' : 'removeClass']('kstate-fixed');

        // 控制导航focus效果
        var len = $navTargetNew.length;
        var index = 0;
        do {
          len -= 1;
          index = len;
        }
        while (index >= 0 && scrollTop < $navTargetNew[index].top);

        $navTargetNew.each(function (i, v) {
          v.$ctrl && v.$ctrl.removeClass('kstate-hover');
        });
        index >= 0 && $navTargetNew[index].$ctrl.addClass('kstate-hover');

        // 控制导航focus时底边线左右滑动
        var lastIndex = $nav.data('index');
        $nav.addClass('kstate-hover' + (index + 1));
        if (!isNaN(lastIndex) && index !== lastIndex) {
          $nav.removeClass('kstate-hover' + (lastIndex + 1));
        }
        $nav.data('index', index);


        var endTop = endOffset.top - navHeight - scrollTop;

        if(endTop < 0) return $nav.css({ top: endTop });
        if(scrollTop > beginOffset.top){
          // 控制导航悬浮
          $nav.addClass('kstate-fixed');
          $nav.css({top: 0});
        }
        else {
          // 控制导航悬浮
          $nav.removeClass('kstate-fixed');
          $nav.css({top: 0});
        }

      }
    });

    //$doc.delegate('.kmod-nav a', {
    //  'click.kmodNav': function () {
    //
    //    //$('html, body').scrollTop(200);
    //  }
    //});

  }

  {{/if}}

  {{if coupons}}
  // 红包
  function addCoupons() {

    var bids = [679654];
    var map = {};

    //        getCoupons(bids);

    if ($.Cookie.get('VipLID')) {
      getCoupons(bids);
    } else {
      $('.kmods').addClass('kstate-coupon-get');
    }

    // 领取红包
    $('.kmods').delegate('.kmod-coupon-btn, .kmod-nav-coupon-btn', {
      'click.kmodCoupon': function (e) {
        var $this = $(this);
        if ($this.closest('.kstate-coupon-success').length > 0) return;

        if ($.Cookie.get('VipLID')) {
          bindCoupon();
        } else {
          VIPSHOP.login.init({
            loginEvent: function () {
              VIPSHOP.member.chk();//登录成功后回调
              bindCoupon();
            }
          });
        }
      }
    });


    // 获取档期红包
    function getCoupons() {
      var marsCid = $.Cookie.get('mars_cid');
      var promises = [];
      $.each(bids, function (i, bid) {
        promises[i] = $.ajax({
          url: 'http://act.vip.com/act/index_ajax.php',
          dataType: 'jsonp',
          data: {
            service: 'NewCoupon.getAll',
            mars_cid: marsCid,
            bid: bid
          }
        });
      });

      $.when.apply($, promises).then(function (res) {
        var args = arguments;
        // 未领取红包数
        var hasNotGetCount = 0;
        // 已领取红包数
        var hasGetCount = 0;
        // 红包总数
        var totalCount = 0;
        // 任意红包有库存
        var hasLeft = false;
        $.each(bids, function (i, bid) {
          try {
            var obj = map[bid] = bids.length > 1 ? args[i][0] : args[i];
            var coupon = obj.coupons[0];
            // 有红包+未领取
            if (coupon.left && coupon.status === 1) hasNotGetCount += 1;
            // 有红包+已领取
            if (coupon.left && coupon.status === 2) hasGetCount += 1;
            // 任意红包有库存
            if (!hasLeft && coupon.left) hasLeft = true;
            totalCount += 1;
          } catch (e) {
          }
        });


        // 有红包时设置领取状态
        if (hasLeft) {
          $('.kmods').addClass(hasGetCount !== totalCount ? 'kstate-coupon-get' : 'kstate-coupon-success');
        }

      });
    }

    // 绑定红包
    function bindCoupon() {
      var utype = VIPSHOP.UINFO.isNewUser() ? 1 : 2;
      var promises = [];
      $.each(map, function (bid, obj) {
        var promise = $.ajax({
          url: 'http://act.vip.com/act/index_ajax.php',
          dataType: 'jsonp',
          data: {
            service: 'NewCoupon.bind',
            bid: bid,
            cid: obj.coupons[0].couponId,
            utype: utype
          }
        });
        promises.push(promise);
      });

      $.when.apply($, promises).then(function (res) {
        var args = arguments;
        var len = args.length;
        getCoupons();
        while (len--) {
          if ((bids.length > 1 ? args[len][0] : args[len]).status === 1) {
            //console.log('领取成功');
            return;
          }
        }
        //console.log('领取失败');
      });
    }
  }
  {{/if}}
})();