.kstate-debug a {
  background-color: rgba(0, 0, 0, 0.3);
}
.kstate-debug a.kstate-hover,
.kstate-debug a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
/* 状态-begin */
.kstate-fixed {
  position: fixed;
}
/* 状态-end */
.kmods {
  overflow: hidden;
  /*background: #efefef;*/
}
.kmod {
  background: no-repeat center top;
}
.kmod-bd {
  *zoom: 1;
  position: relative;
  width: 1000px;
  margin: 0 auto;
}
.kmod-bd:before,
.kmod-bd:after {
  display: table;
  content: "";
}
.kmod-bd:after {
  clear: both;
}
.kmod-link,
.kmod-plink,
.kmod-blink {
  float: left;
}
.kmod-link,
.kmod-plink,
.kmod-blink {
  position: relative;
  float: left;
}
.kmod-plink .kmod-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
}
.kstate-warm .kmod-plink:hover .kmod-tips {
  display: block;
  width: 86px;
  height: 47px;
  margin: -23px 0 0 -43px;
  background: url(http://a.vpimg4.com/upload/actpics/uidesign/2015/10m/1024sport/floor3_btn.png) no-repeat 0 0;
}
.kstate-sale .kmod-plink:hover .kmod-tips {
  display: block;
  width: 82px;
  height: 76px;
  margin: -38px 0 0 -41px;
  background: url(http://a.vpimg2.com/upload/actpics/pingou/2015/5m/21/andi/buy_ico.png) no-repeat 0 0;
}
.kstate-sale .kmod-plink.kstate-sold-chance .kmod-tips,
.kstate-sale .kmod-plink.kstate-sold-chance:hover .kmod-tips {
  display: block;
  width: 75px;
  height: 75px;
  margin: -37px 0 0 -37px;
  background: url(http://a.vpimg2.com/upload/actpics/pingou/2015/5m/21/andi/chance_yellow.png) no-repeat 0 0;
}
.kstate-sale .kmod-plink.kstate-sold-out .kmod-tips,
.kstate-sale .kmod-plink.kstate-sold-out:hover .kmod-tips {
  display: block;
  width: 75px;
  height: 75px;
  margin: -37px 0 0 -37px;
  background: url(http://a.vpimg2.com/upload/actpics/pingou/2015/5m/21/andi/off_sell_icon_circle.png) no-repeat 0 0;
}
.kstate-sale .kmod-plink.kstate-sold-onload {
  cursor: default;
}
.kstate-sale .kmod-plink.kstate-sold-onload .kmod-tips,
.kstate-sale .kmod-plink.kstate-sold-onload:hover .kmod-tips {
  display: block;
  width: 82px;
  height: 82px;
  margin: -41px 0 0 -41px;
  background: url(http://a.vpimg4.com/upload/actpics/uidesign/2016/1m/0122balabala/zailushang.png) no-repeat 0 0;
}
.kmod-plink.kstate-sold-onload {
  cursor: default;
}
.kmod-plink.kstate-sold-onload .kmod-tips,
.kmod-plink.kstate-sold-onload:hover .kmod-tips {
  display: block;
  width: 82px;
  height: 82px;
  margin: -41px 0 0 -41px;
  background: url(http://a.vpimg4.com/upload/actpics/uidesign/2016/1m/0122balabala/zailushang.png) no-repeat 0 0;
}
.kmod-target {
  display: block;
  position: relative;
  visibility: hidden;
}
.kmod-header {
  height: 486px;
}
.kmod-logo {
  width: 115px;
  height: 115px;
}
.kmod-footer {
  height: 466px;
  margin: 0;
}
.kmod-footer .kmod-btn {
  float: left;
  width: 340px;
  height: 71px;
  margin: 268.5px 0 0 330px;
}
.kmod-footer .kmod-btn:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
/* 导航-begin */
.kmod-nav-wrap {
  height: 0;
}
.kmod-nav {
  position: relative;
  top: 0;
  width: 100%;
  margin: 0 auto;
  background: #ccc;
  z-index: 20;
}
.kmod-nav.kstate-fixed {
  position: fixed;
}
.kmod-nav1 {
  width: 142px;
  height: 306px;
  margin-left: 1040px;
  padding-top: 80px;
  background: url('images/nav.png') no-repeat center 80px;
}
.kmod-nav1 .kmod-nav-hd {
  height: 20px;
}
.kmod-nav1 .kmod-nav-bd {
  margin: 0px 25px 0 25px;
}
.kmod-nav1 .kmod-nav-ft {
  height: 40px;
  margin: 0px 25px 0 25px;
}
.kmod-nav1 .kmod-nav-ft .kmod-hash {
  height: 40px;
}
.kmod-nav1 .kmod-hash {
  display: block;
  width: 100%;
  height: 51px;
}
/* 导航-end */
/* 品购模块-begin */
.kmod1 {
  height: 234px;
}
.kmod1 .kmod-plink {
  width: 33.33333333%;
  height: 232px;
}
.kmod2 {
  height: 330px;
}
.kmod2 .kmod-plink {
  width: 33.33333333%;
  height: 328px;
}
.kmod3 {
  height: 222px;
}
.kmod3 .kmod-plink {
  width: 33.33333333%;
  height: 220px;
}
.kmod4 {
  height: 294px;
}
.kmod4 .kmod-plink {
  width: 33.33333333%;
  height: 292px;
}
.kmod5 {
  height: 332px;
}
.kmod5 .kmod-plink {
  width: 33.33333333%;
  height: 330px;
}
.kmod6 {
  height: 226px;
}
.kmod6 .kmod-plink {
  width: 33.33333333%;
  height: 224px;
}
.kmod7 {
  height: 226px;
}
.kmod7 .kmod-plink {
  width: 33.33333333%;
  height: 224px;
}
.kmod8 {
  height: 269px;
}
.kmod8 .kmod-plink {
  width: 33.33333333%;
  height: 267px;
}
.kmod9 {
  height: 211px;
}
.kmod9 .kmod-plink {
  width: 33.33333333%;
  height: 209px;
}
.kmod10 {
  height: 331px;
}
.kmod10 .kmod-plink {
  width: 33.33333333%;
  height: 329px;
}
.kmod11 {
  height: 209px;
}
.kmod11 .kmod-plink {
  width: 33.33333333%;
  height: 207px;
}
.kmod12 {
  height: 226px;
}
.kmod12 .kmod-plink {
  width: 33.33333333%;
  height: 224px;
}
.kmod13 {
  height: 316px;
}
.kmod13 .kmod-plink {
  width: 33.33333333%;
  height: 314px;
}
/* 品购模块-end */
/* 倒计时-begin */
.kmod-countdown {
  overflow: hidden;
  position: absolute;
  top: 420px;
  left: 113px;
  width: 360px;
  height: 104px;
}
.kmod-countdown-tips {
  position: relative;
  margin: 0 auto;
  width: 167px;
  height: 32px;
  background: center 0 no-repeat;
}
.kmod-countdown-tips-line1,
.kmod-countdown-tips-line2 {
  position: absolute;
  top: 8px;
  width: 500px;
  margin: 0;
  border: 0;
  border-top: 1px solid #888;
}
.kmod-countdown-tips-line1 {
  left: -500px;
  margin-left: -10px;
}
.kmod-countdown-tips-line2 {
  right: -500px;
  margin-right: -10px;
}
.kmod-countdown-main {
  width: 350px;
  height: 50px;
  background: url(http://a.vpimg4.com/upload/actpics/uidesign/2016/3m/0316kidacu/index-top/warm-top-countdown.png) center 0 no-repeat;
}
.kmod-countdown-nums {
  position: relative;
  top: -3px;
  left: -29px;
  width: 400px;
  font-size: 38px;
  color: #fff;
}
.kmod-countdown-num {
  float: left;
  width: 62px;
  margin-left: 34px;
  letter-spacing: 11px;
}
/* 倒计时-end */
.kstate-warm .kmod-header {
  background: url('images/warm-header.jpg') no-repeat center 0;
}
.kstate-warm .kmod-logo {
  background: url('images/warm-logo.png') no-repeat center 0;
}
.kstate-warm .kmod-countdown-tips {
  background: url("http://a.vpimg4.com/upload/actpics/uidesign/2016/3m/0316kidacu/index-top/warm-top-countdown-tips.png") no-repeat 0 0;
}
.kstate-warm .kmod-body {
  background: url('images/warm-body.jpg') repeat;
}
.kstate-warm .kmod-footer {
  background: url('images/warm-footer.jpg') no-repeat center 0;
}
.kstate-warm .kmod-footer .kmod-btn {
  background: url('images/warm-footer-btn.png') no-repeat center 0;
}
.kstate-warm .kmod1 {
  background-image: url("images/warm-1.jpg");
}
.kstate-warm .kmod2 {
  background-image: url("images/warm-2.jpg");
}
.kstate-warm .kmod3 {
  background-image: url("images/warm-3.jpg");
}
.kstate-warm .kmod4 {
  background-image: url("images/warm-4.jpg");
}
.kstate-warm .kmod5 {
  background-image: url("images/warm-5.jpg");
}
.kstate-warm .kmod6 {
  background-image: url("images/warm-6.jpg");
}
.kstate-warm .kmod7 {
  background-image: url("images/warm-7.jpg");
}
.kstate-warm .kmod8 {
  background-image: url("images/warm-8.jpg");
}
.kstate-warm .kmod9 {
  background-image: url("images/warm-9.jpg");
}
.kstate-warm .kmod10 {
  background-image: url("images/warm-10.jpg");
}
.kstate-warm .kmod11 {
  background-image: url("images/warm-11.jpg");
}
.kstate-warm .kmod12 {
  background-image: url("images/warm-12.jpg");
}
.kstate-warm .kmod13 {
  background-image: url("images/warm-13.jpg");
}
.kstate-sale .kmod-header {
  background: url('images/sale-header.jpg') no-repeat center 0;
}
.kstate-sale .kmod-logo {
  background: url('images/sale-logo.png') no-repeat center 0;
}
.kstate-sale .kmod-countdown-tips {
  background: url("http://a.vpimg4.com/upload/actpics/uidesign/2016/3m/0316kidacu/index-top/sale-top-countdown-tips.png") no-repeat 0 -2px;
}
.kstate-sale .kmod-body {
  background: url('images/sale-body.jpg') repeat;
}
.kstate-sale .kmod-footer {
  background: url('images/sale-footer.png') no-repeat center 0;
}
.kstate-sale .kmod1 {
  background-image: url("images/sale-1.jpg");
}
.kstate-sale .kmod2 {
  background-image: url("images/sale-2.jpg");
}
.kstate-sale .kmod3 {
  background-image: url("images/sale-3.jpg");
}
.kstate-sale .kmod4 {
  background-image: url("images/sale-4.jpg");
}
.kstate-sale .kmod5 {
  background-image: url("images/sale-5.jpg");
}
.kstate-sale .kmod6 {
  background-image: url("images/sale-6.jpg");
}
.kstate-sale .kmod7 {
  background-image: url("images/sale-7.jpg");
}
.kstate-sale .kmod8 {
  background-image: url("images/sale-8.jpg");
}
.kstate-sale .kmod9 {
  background-image: url("images/sale-9.jpg");
}
.kstate-sale .kmod10 {
  background-image: url("images/sale-10.jpg");
}
.kstate-sale .kmod11 {
  background-image: url("images/sale-11.jpg");
}
.kstate-sale .kmod12 {
  background-image: url("images/sale-12.jpg");
}
.kstate-sale .kmod13 {
  background-image: url("images/sale-13.jpg");
}
/*  半品购调整-begin */
.warmup_bg .pro_bread {
  display: none;
}
.warmup_bg,
.list-define-w {
  overflow: hidden;
  position: relative;
}
.warmup_bg .kmods {
  margin: 0 -460px;
}
.list-define-w .kmods {
  margin: -380px -460px 0;
}
/*  半品购调整-end */
/*# sourceMappingURL=index.css.map */